client/src/main/resources/xsd/test-package-conversion-diff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
    <xs:element name="TestPackageDiff">
        <xs:annotation>
            <xs:documentation><![CDATA[
The root element of the test package. The <TestPackage> element contains an optional <Scoring> element (for test packages that contain COMBINED scoring data, such as ICA assessments).
]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Test">
                    <xs:complexType>
                        <xs:all>
                            <xs:element minOccurs="0" name="Segments">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Segment">
                                            <xs:annotation>
                                                <xs:documentation>Every Assessment must contain one or more segments (an "unsegmented" assessment is actually a single-segment assessment).
                                        A segment defines a partition of a test wherein various presentational aspects may be controlled (such as isolating calculator items from non-calculator items)

                                        The Segment node contains the following attributes:

                                        key: The segment key
                                        id: The segment id
                                        position: The position of the segment in the assessment (1-based)
                                        label: (OPTIONAL) A human-readable label to be displayed in the student and proctor application - if no label is provided, the segment key will be used.
                                        entryApproval/exitApproval: (OPTIONAL) A flag indicating that a student will require approval to enter or exit the segment

                                        The Segment contains the following sub-elements:

                                        - Blueprint: The segment blueprint constraints for selecting items, each references an assessment-level BlueprintElement
                                        The Segment Blueprint is optional for fixed form segments, but required for adaptive segments
                                        - One of the folowing, depending on the item selection type:
                                        Pool - The segment pool of items, for adaptive segments
                                        Forms - A list of forms for the segment, for fixed-form assessments
                                        - ItemSelector: the method for selecting items for the segment (e.g. "fixedform", "adaptive")
                                        - Tools: A list of universal tools, accommodations, and designated supports along with various options and dependency rules
                                    </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:all>
                                                  <xs:element minOccurs="0" name="Items">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="Item">
                                                  <xs:annotation>
                                                  <xs:documentation>An Item within an ItemGroup

                            ATTRIBUTES:
                            - id: The item identifier - an integer. For the item id "2112" and bank key "187", the full item key would be "187-2112"
                            - position: (Optional) The item's relative position within its group (1-based). Position should be honored by the item renderer. The default positional value is "1", but the item positions must be unique (and sequential) within the ItemGroup
                            - fieldTest: (OPTIONAL, default false) A flag indicating whether or not the item is a field test item
                            - administrationRequired: (OPTIONAL, default true) If true, the (adaptive) itemselector MUST administer this item (it may not be pruned to meet the itemgroup's 'maxitems' constraint)
                            - responseRequired: If true, the examinee must respond to this item, if administered
                        </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:all>
                                                  <xs:element minOccurs="0"
                                                  name="TeacherHandScoring">
                                                  <xs:annotation>
                                                  <xs:documentation>Teacher Hand Scoring System
                                                      tds.support.tool.configuration. Reference
                                                      https://github.com/SmarterApp/TDS_TeacherHandScoringSystem</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence minOccurs="0">
                                                  <xs:element name="Dimensions" type="xs:string"/>
                                                  </xs:sequence>
                                                  <xs:attribute name="exemplar" type="xs:token"/>
                                                  <xs:attribute name="trainingGuide" type="xs:token"/>
                                                  <xs:attribute default="WAI" name="layout"
                                                  type="xs:token"/>
                                                  <xs:attribute name="description" type="xs:token"
                                                  use="required"/>
                                                  <xs:attribute name="passage" type="xs:token"/>
                                                  <xs:attribute name="itemname" type="xs:token"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:all>
                                                  <xs:attribute name="id" type="xs:token"
                                                  use="required"/>
                                                  <xs:attribute default="false" name="doNotScore"
                                                  type="xs:boolean"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" ref="Tools"/>
                                                </xs:all>
                                                <xs:attribute name="id" type="xs:token"
                                                  use="required"/>
                                                <xs:attribute name="label" type="xs:token"/>
                                                <xs:attribute default="false" name="entryApproval"
                                                  type="xs:boolean"/>
                                                <xs:attribute default="false" name="exitApproval"
                                                  type="xs:boolean"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" ref="Tools"/>
                        </xs:all>
                        <xs:attribute name="id" type="xs:token" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="bankKey" type="xs:int" use="required"/>
            <xs:attribute name="academicYear" type="xs:token" use="required"/>
            <xs:attribute name="subType" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tools">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Tool">
                    <xs:annotation>
                        <xs:documentation>A "Tool" is a general term for any universal tools, designated supports, or accommodations. Each Tool respresents a type of tool, such as "Zoom", "American Sign Language", "Masking", and "Calculator" and contains a list of its possible options and dependency rules. Tools can be defined at the assessment-level as well as the segment-level

                            ATTRIBUTES:
                            name: The tool type "name". This is the string identifying the tool type. The tool type name may contain spaces.
                            studentPackageFieldName: The name/identifier of the tool/accommodation/designated supports used by ART.
                            allowChange: A flag indicating whether or not the tool can be changed by the proctor when a student is waiting for approval to enter an assessment or segment
                            required: A flag indicating whether or not an tool selection is required for this type of tool
                            sortOrder: An optional ordering of the type (ascending)
                            disableOnGuest: A flag indicating whether or not an accommodation should be disabled for guest students

                            SUBELEMENTS:
                            The Options for the Tool</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="Options">
                                <xs:annotation>
                                    <xs:documentation>A list of two or more Options for the given Tool. Typically, a tool will have at the very least an "ON" or "OFF" option</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Option">
                                            <xs:annotation>
                                                <xs:documentation>An Option for a Tool. For some tools, the list of Options should contain at least two elements - an "ON" and an "OFF" Option.

                                                    ATTRIBUTES:
                                                    - code: The ISAAP code corresponding to the Tool Option
                                                    - sortOrder: The order in which the option should be displayed in the selection dropdown
                                                    - default: Whether or not the option should be the default Option. A tool cannot have more than one default option

                                                    SUBELEMENTS:
                                                    - Dependencies: (OPTIONAL) A list of one or more dependencies indicating whether an Option(s) should be enabled based on other Tool selections</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="Dependencies">
                                                  <xs:annotation>
                                                  <xs:documentation>(OPTIONAL) A list of one or more dependencies indicating whether an Option(s) should be enabled based on other Tool selections</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  name="Dependency">
                                                  <xs:annotation>
                                                  <xs:documentation/>
                                                  <xs:documentation><![CDATA[
A Dependency defines a rule for when a specific Tool Option should be enabled or available to an examinee.

ATTRIBUTES:
    - ifToolType: The conditional tool type of the rule
    - ifToolCode: The conditional tool code (option) of the rule
    - enabled: (OPTIONAL, default TRUE) - Indicated whether the option should be ENABLED or DISABLED
    - default: Whether or not the option should now be marked as the default option, if the Dependency condition is true

The Dependency can be read as:
   if <ifToolType> is <ifToolCode>, then the option is enabled (or disabled)
   e.g., "IF <Language> IS <ENU>, THEN <'Emboss' option should be disabled>"
]]></xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:attribute name="ifToolType" type="xs:token"
                                                  use="required"/>
                                                  <xs:attribute name="ifToolCode" type="xs:token"
                                                  use="required"/>
                                                  <xs:attribute default="false" name="default"
                                                  type="xs:boolean"/>
                                                  <xs:attribute default="true" name="enabled"
                                                  type="xs:boolean"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="code" type="xs:token"
                                                  use="required"/>
                                                <xs:attribute name="sortOrder" type="xs:int"
                                                  use="required"/>
                                                <xs:attribute default="false" name="default"
                                                  type="xs:boolean"/>
                                                <xs:attribute name="label" type="xs:token"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="UniqueToolPosition">
                                    <xs:selector xpath=".//Option"/>
                                    <xs:field xpath="@sortOrder"/>
                                </xs:unique>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="name" type="xs:token" use="required"/>
                        <xs:attribute name="studentPackageFieldName" type="xs:token"/>
                        <xs:attribute default="true" name="allowChange" type="xs:boolean"/>
                        <xs:attribute default="false" name="required" type="xs:boolean"/>
                        <xs:attribute default="0" name="sortOrder" type="xs:int"/>
                        <xs:attribute default="false" name="disableOnGuest" type="xs:boolean"/>
                        <xs:attribute name="type" type="xs:token"/>
                        <xs:attribute default="false" name="allowMultiple" type="xs:boolean"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
